<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="index">
      <%- include('./common/header.ejs') %>
      <div class="container">
        <div class="menu">
          <ul class="menuList">
            <li><a href="##">用户管理</a></li>
            <li><a href="##">手机管理</a></li>
          </ul>
        </div>
        <div class="main"></div>
      </div>
    </div>
</body>
</html>