.index{
    width: 1300px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    height: 100%;
}
.index .header{
    height: 60px;
    line-height: 60px;

}
.index .container{
    display: flex;
    flex: 1;
}
.container .menu{
    width: 260px;
    height: 100%;
    background:#edf7ed;
    box-shadow:1px 1px 5px #c5c0c0;
}
.container .main{
    flex:1;
    height:  100%;
}
/* 头部样式 */
.header{
    display: flex;
    justify-content: space-between;

}
.header .header_left{
    
}
.header .header_right{
    display: flex;
}
.header h2{
    font-size: 25px;
    font-weight: normal;
}
.header .header_right button{
    height: 30px;
    margin: auto 20px;
    outline: none;
    border: none;
    box-shadow:1px 1px 5px #333;
    font-size: 14px;
    background: skyblue;
}
.header .header_right button a{
    text-decoration: none;
    color: #ffffff;
}
.header .header_right .names{
    font-size: 14px;
    color: gray;
}
/* 菜单栏 */
.container .menu .menuList{
    margin-top: 20px;
}
.container .menu .menuList li a{
    color: #000000;
    text-decoration: none;
}
.container .menu .menuList li{
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    padding-left: 20px;
    border-bottom: 1px solid #eeccee;
}
.main{
    position: relative;
}
table{
    width: 950px;
    margin: 0 auto;
}
th,td{
    border: 1px solid #ccc;
    text-align: center;
    
}
tr{
    height: 40px;

}
tbody a{
    color: #000000;
    text-decoration:none;
    margin-right: 10px;
}
.main .nameSerch{
    width: 290px;
    height: 40px;
    /* outline: none; */
    border: none;
    border: 1px solid #ccc;
    padding-left: 5px;
    border-radius: 10px;
}
.main .btn{
    width: 80px;
    height: 42px;
    border-radius: 10px;
}
.main .menuSerch{
    float: right;
    margin:0 30px 30px 0;
}
.current{
    background: skyblue;
    color: azure;
  }
/* 实现分页功能 */
.paging{

    position: fixed;
    bottom: 100px;
    right: 70px;
}
.paging li{
    float: left;
    border: 1px solid #ccc;
    width: 40px;
    height:30px;
    line-height: 30px;
    text-align: center;
    margin-right:1px;
}
.paging li a{
    color: #000000;
    text-decoration: none;
}
/* .active{
     background: skyblue; 
    color: #fff;
} */

/* y用户信息的修改 */
.updataNews{
    width: 500px;
    position: absolute;
    right: 300px;
    bottom: 50px;
    border: 1px solid #000000;
    background: #fff;
    height: 500px;
    display: none;
}
.updataNews input{
    height:30px;
    width: 300px;
    border: none;
    border: 1px solid #333;
    margin-top: 30px;
    margin-right: 20px;
}
.updataNews h2{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-top: 50px;
}
.updataNews p{
    padding-left: 20px;
}
.adbtn{
    outline: none;
    height: 30px;
    margin-top: 20px;
    border: none;
}
.updataNews .adbtn{
    width: 100px;
    margin-left: 80px;
    background: skyblue;
    color: #fff;
    outline: none;
    height: 30px;
    margin-top: 20px;
    border: none;
    
}
.updataNews .btn{
    width: 100px;
    height: 30px;
    background: skyblue;
    color: #fff;
    border: none;
    outline: none;
    /* border: 1px solid #000000; */

    
}
/* 新增手机 */
 .addPhone{
    width: 100px;
    height: 40px;
    /* border: 1px solid #000000; */
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    margin-left: 40px;
    cursor: pointer;
    box-shadow:1px 1px 5px #333;
    font-size: 14px;
    /* background: skyblue; */
}
.username img{
 width: 100px;
}
.branchType{
    height:30px;
    width: 300px;
    border: none;
    border: 1px solid #333;
    margin-top: 30px;
    margin-right: 20px;
}
/* 手机信息修改 */
.pdatePhone{
    width: 500px;
    position: absolute;
    right: 300px;
    bottom: 50px;
    border: 1px solid #000000;
    background: #fff;
    height: 500px;
    display: none;
}
.pdatePhone input{
    height:30px;
    width: 300px;
    border: none;
    border: 1px solid #333;
    margin-top: 30px;
    margin-right: 20px;
}
.pdatePhone h2{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-top: 50px;
}
.pdatePhone p{
    padding-left: 20px;
}
.pdatePhone .adbtn{
    width: 100px;
    margin-left: 80px;
    background: skyblue;
    color: #fff;
    
}
.pdatePhone .btn{
    width: 100px;
    height: 30px;
    background: skyblue;
    color: #fff;
    border: none;
    outline: none;
    border: 1px solid #000000;  
}

/* 品牌信息的添加 */
.insertBrand{
    width: 500px;
    position: absolute;
    right: 300px;
    bottom: 50px;
    border: 1px solid #000000;
    background: #fff;
    height: 500px;
    display: none;
}
.insertBrand input{
    height:30px;
    width: 300px;
    border: none;
    border: 1px solid #333;
    margin-top: 30px;
    margin-right: 20px;
}
.insertBrand h2{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-top: 50px;
}
.insertBrand p{
    padding-left: 20px;
}
.insertBrand .adbtn{
    width: 100px;
    margin-left: 80px;
    background: skyblue;
    color: #fff;
    
}
.insertBrand .btn{
    width: 100px;
    height: 30px;
    background: skyblue;
    color: #fff;
    border: none;
    outline: none;
    border: 1px solid #000000;  
}