.index{
    width: 1300px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    height: 100%;
}
.index .header{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #000000;

}
.index .container{
    display: flex;
    flex: 1;
    background: pink;
}
.container .menu{
    width: 260px;
    height: 100%;
    background: skyblue;
}
.container .main{
    flex:1;
    height:  100%;
    background: greenyellow;
}
/* 头部样式 */
.header{
    display: flex;
    justify-content: space-between;

}
.header .header_left{
    
}
.header .header_right{
    display: flex;
}
.header h2{
    font-size: 25px;
    font-weight: normal;
}
.header .header_right button{
    height: 30px;
    margin: auto 20px;
    outline: none;
    border: none;
    box-shadow:1px 1px 5px #333;
    font-size: 14px;
}
.header .header_right .names{
    font-size: 14px;
    color: gray;
}
/* 菜单栏 */
.container .menu menList li{
    float: left;
}