<div class="header">
    <div class="header_left">
        <h2>xxx—后台管理系统</h2>
    </div>
    <div class="header_right">
        <p class="names">欢迎你-xx-(管理员)</p>
        <button>退出登录</button>
    </div>
</div>