<div class="menu">
    <ul class="menuList">
        <% if(isAdmin){%>
        <li><a href="/user-manager" style="color:skyblue">用户管理</a></li>
        <% }%>
        <li><a href="/mobile-manager" > 手机管理</a></li>
        <li><a href="/brand-manager">品牌管理</a></li>
    </ul>
</div>